@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: white;
  /* margin: 0 auto; */
  /* max-width: 1000px; */
}

.item {
  padding: 8px;
  background-color: white;
  /* border: 4px solid tomato; */
  border-radius: 3px;
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); */
}

.height-50 {
  height: 50vh;
}

input[type="text"] {
  width: 70%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f2f3f2;
}
.button-2 {
  /* width: 70%; */
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #e0e0e0;
  border: 6rem;
}

.button-1 {
  /* width: 70%; */
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #46a6de;
  color: white;
  padding: 0.4rem 1rem 0.4rem 1rem;
  margin-left: -4.1rem;
}
.button-3 {
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #399cdb;
  color: white;
}

.edie-home-page.container {
  display: grid;
  height: 100vh;

  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: repeat(12, 1fr);
}

.edie-home-page.container .header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;

  display: flex;
  gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.edie-home-page.container .header div {
  padding: 1rem;
}
.edie-home-page.container .header .edie {
  display: flex;
  flex-grow: 1;
  font-size: x-large;
  font-weight: bold;
  padding-left: 0.4rem;
}

.edie-home-page.container .title {
  grid-row: 2;
  grid-column: 2 / span 11;
  font-size: x-large;
  font-weight: bold;
}

.edie-home-page.container .hero-image {
  grid-row: 3;
  grid-column: 1 / span 12;
}

.edie-home-page.container .hero-image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.edie-home-page.container .story {
  grid-row: 4;
  grid-column: 2 / span 11;
  padding-bottom: 8rem;
}
.edie-home-page.container .service {
  grid-row: 5;
  grid-column: 1 / span12;
  display: grid;

  grid-template-rows: auto auto;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 6rem;
}
.edie-home-page.container .service .containers div {
  /* padding: 2rem; */
}
.edie-home-page.container .service div h1 {
  color: black;
}

.edie-home-page.container .service .title {
  grid-row: 1 / span 1;
  grid-column: 2 / span 10;
}
.edie-home-page.container .service .containers {
  grid-row: 2;
  grid-column: 2 / span 10;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* .edie-home-page.container .service .service-2 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
} */

.edie-home-page.container .business {
  grid-row: 6;
  grid-column: 1 / span12;
  display: grid;

  grid-template-rows: auto auto;
  grid-template-columns: repeat(12, 1fr);
}

.edie-home-page.container .business .title {
  grid-row: 1 / span 1;
  grid-column: 2 / span 9;
}
.edie-home-page.container .business .images {
  grid-row: 2;
  grid-column: 1 / span 12;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.edie-home-page.container .business .images img {
  height: 100%;
  width: 100%;
}
/* .edie-home-page.container .business .images .image-1 {
    grid-row: 2 / span 5;
    grid-column: 2 / span 5;
  }

  .edie-home-page.container .business .images .image-2 {
    grid-row: 1 / span 5;
    grid-column: 7 / span 5;
  }
  .edie-home-page.container .business .images .image-3 {
    grid-row: 8 / span 5;
    grid-column: 2 / span 5;
  }
  .edie-home-page.container .business .images .image-4 {
    grid-row: 7 / span 4;
    grid-column: 7 / span 5;
  }
  .edie-home-page.container .business .images .more {
    grid-row: 12 / span 1;
    grid-column: 10 / span 3;
    text-align: end;
  } */

.edie-home-page.container .team {
  grid-row: 7;
  grid-column: 1 / span12;
  display: grid;

  grid-template-rows: auto auto;
  grid-template-columns: repeat(12, 1fr);
}
.edie-home-page.container .team .members {
  grid-row: 1 / span 1;
  grid-column: 2 / span 10;
  display: grid;

  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
.edie-home-page.container .team .members img {
  height: 100%;
  width: 100%;
}

.edie-home-page.container .team .members .text-container {
  grid-row: 4 / span 4;
  grid-column: 1 / span 4;
}
.edie-home-page.container .team .members .image-1 {
  grid-row: 4 / span 4;
  grid-column: 5 / span 4;
}

.edie-home-page.container .team .members .image-2 {
  grid-row: 2 / span 4;
  grid-column: 9 / span 4;
}

.edie-home-page.container .team .members .image-3 {
  grid-row: 6 / span 4;
  grid-column: 9 / span 4;
}

.edie-home-page.container .team .users {
  grid-row: 2;
  grid-column: 2 / span 6;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(12, 1fr);
}
.edie-home-page.container .team .users .paragraph {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
}

.edie-home-page.container .team .users .review {
  grid-column: 1 / span 12;
  grid-row: 2 / span 1;
  display: flex;
  justify-self: start;
}
.edie-home-page.container .team .users .review .image1 {
  /* display: grid; */
  width: 15%;
  height: 15%;
}
.edie-home-page.container .team .users .review .image1 img {
  width: 100%;
  height: 100%;
}

.edie-home-page.container .page-end {
  grid-row: 8 / span 1;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(12, 1fr);
  background-color: #0f0e1d;
  color: #f2f3f2;
  padding-top: 20px;
}
.edie-home-page.container .page-end .lists {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  /* display: flex;
  justify-content: space-around; */
}
/* .edie-home-page.container .page-end .lists .item {
  display: flex;
  flex-direction: column;
} */
.edie-home-page.container .page-end .lists .list-container div {
  padding-bottom: 4px;
}
.edie-home-page.container .page-end footer {
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  font-size: small;
  text-align: center;
  padding-top: 60px;
}
.edie-home-page.container .page-end .icon-container {
  padding: 15px 0px;
}
.edie-home-page.container .page-end .edie {
  font-size: x-large;
  font-weight: 300;
}
div a {
  color: #96cded;
  cursor: pointer;
}

@media (min-width: 768px) {
  .edie-home-page.container .nav .item {
    cursor: pointer;
  }

  .edie-home-page.container .title {
    grid-row: 2;
    grid-column: 3 / span 9;
    font-size: x-large;
    font-weight: bold;
  }

  .edie-home-page.container .hero-image {
    grid-row: 3;
    grid-column: 1 / span 12;
  }

  .edie-home-page.container .hero-image img {
    height: 100%;
    width: 100%;
  }

  .edie-home-page.container .story {
    grid-row: 4;
    grid-column: 3 / span 4;
    padding-bottom: 5rem;
  }
  .edie-home-page.container .service {
    grid-row: 5;
    grid-column: 1 / span12;
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 2rem;
  }
  .edie-home-page.container .service .containers div {
    margin: 20px;
  }
  .edie-home-page.container .service div h1 {
    color: black;
  }
  .edie-home-page.container .service .title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
  }
  .edie-home-page.container .service .containers {
    grid-row: 2;
    grid-column: 2 / span 10;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .edie-home-page.container .service .mouse-hover:hover {
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    cursor: pointer;
  }

  .edie-home-page.container .business {
    grid-row: 6;
    grid-column: 1 / span12;
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 0px;
  }

  .edie-home-page.container .business .title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
  }
  .edie-home-page.container .business .images {
    grid-row: 2;
    grid-column: 1 / span 12;

    display: grid;
    grid-template: repeat(12, 1fr);
  }
  .edie-home-page.container .business .images .text-muted {
    color: #b8b9b8;
  }

  .edie-home-page.container .business .images img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }
  .edie-home-page.container .business .images .image-1 {
    grid-row: 2 / span 5;
    grid-column: 2 / span 5;
  }

  .edie-home-page.container .business .images .image-2 {
    grid-row: 1 / span 5;
    grid-column: 7 / span 5;
  }
  .edie-home-page.container .business .images .image-3 {
    grid-row: 8 / span 5;
    grid-column: 2 / span 5;
  }
  .edie-home-page.container .business .images .image-4 {
    grid-row: 7 / span 4;
    grid-column: 7 / span 5;
  }
  .edie-home-page.container .business .images .more {
    grid-row: 12 / span 1;
    grid-column: 9 / span 3;
    text-align: end;
  }

  .edie-home-page.container .team {
    grid-row: 7;
    grid-column: 1 / span12;
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
  }
  .edie-home-page.container .team .members {
    grid-row: 1 / span 1;
    grid-column: 2 / span 10;
    display: grid;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
  .edie-home-page.container .team .members img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }

  .edie-home-page.container .team .members .text-container {
    grid-row: 4 / span 4;
    grid-column: 1 / span 3;
  }
  .edie-home-page.container .team .members div a {
    color: #ed6262;
  }
  .edie-home-page.container .team .members .image-1 {
    grid-row: 4 / span 4;
    grid-column: 5 / span 4;
  }

  .edie-home-page.container .team .members .image-2 {
    grid-row: 2 / span 4;
    grid-column: 9 / span 4;
  }

  .edie-home-page.container .team .members .image-3 {
    grid-row: 6 / span 4;
    grid-column: 9 / span 4;
  }

  .edie-home-page.container .team .users {
    grid-row: 2;
    grid-column: 2 / span 6;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
  }
  .edie-home-page.container .team .users .paragraph {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
  }

  .edie-home-page.container .team .users .review {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    display: flex;
    justify-self: start;
  }
  .edie-home-page.container .team .users .review .image1 {
    /* display: grid; */
    width: 15%;
    height: 15%;
  }
  .edie-home-page.container .team .users .review .image1 img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .edie-home-page.container .page-end {
    grid-row: 8 / span 1;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    background-color: #0f0e1d;
    color: #f2f3f2;
    padding-top: 20px;
  }
  .edie-home-page.container .page-end .lists {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-around;
  }
  .edie-home-page.container .page-end .lists .item {
    display: flex;
    justify-content: space-around;
  }
  .edie-home-page.container .page-end .lists div {
    padding-bottom: 4px;
  }
  .edie-home-page.container .page-end footer {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
    text-align: center;
    padding-top: 60px;
  }
  .edie-home-page.container .page-end .edie {
    font-size: x-large;
    font-weight: 300;
  }
  div a {
    color: #96cded;
    cursor: pointer;
  }
}
